<header class="main-header">
  <div class="logo">
    <h1>
      <a href="/">MoNET <span class="name">WeBrain</span></a>
    </h1>
  </div>
  <a class="mobile-only mobile-menu-trigger">
    <i class="fas fa-bars"></i>
  </a>
  <nav class="menu-wrap">
    <ul class="sub-menu">
      {{#if req.session.user }}
      <li style="font-size: 1rem; font-weight: 300; color: white;">
        {{ getUserName req.session.user }} 님 반갑습니다.
      </li>
      {{/if}}
      <li>
        {{#if req.session.user }}
        <a style="font-size: 1rem; font-weight: 300;" href="/main/logout">로그아웃</a>
        {{else}}
        <a style="font-size: 1rem; font-weight: 300;" href="/main/login">로그인</a>
        {{/if}}
      </li>
    </ul>
    <ul class="main-menu">
      <li>
        <a href="/main/project-groups">참여하기</a>
      </li>
      {{#if ( isUserAdminOrResearcher req.session.user ) }}
      <li>
        <a href="/admin">관리자 페이지로 이동</a>
      </li>
      {{/if}}
    </ul>
  </nav>
</header>
