<!DOCTYPE html>
<html lang="ko">
  <% include ../partials/head %>
  <link rel="stylesheet" href="/css/list2.css" />

  <body>
    <div class="wrap-all">
      <% include ../partials/header %>
      <!-- Games -->
      <section class="list-content-section">
        <div class="list-content-header">
          <h2><span>MoNET</span>Experiment</h2>
        </div>
        <style>
          .image-container img {
            object-fit: cover;
          }
        </style>
        <% const myGames = results.filter((result) => { return result.User.email
        === loggedInUser.email }) %> <% projects = projects.filter((project) =>
        { return myGames.filter((game) => game.Project.id === project.id).length
        }) %>
        <div class="list-content-container">
          <h3><i class="fas fa-list"></i>전체 리스트</h3>
          <ul class="list-content-thumbnail">
            <% for (let project of projects) { %>
            <li>
              <a href="/main/project/<%= project.id %>" class="list-link">
                <span class="image-container">
                  <img src="/uploads/<%= project.coverFileId %>" alt="any" />
                </span>
                <span class="list-content-thumbnail-title">
                  <span class="item-title"><%= project.name %> </span>
                  <span class="item-text"><%= project.description %></span>
                </span>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
      <!-- login contents end -->
      <% include ../partials/footer %>
    </div>
  </body>
</html>
