{{> admin/navbar }}
<div class="px-3 pb-6">
  <div class="container">
    <h1 class="title">유저 선택하기</h1>
    <div class="control">
      <label class="radio">
        <input type="radio" name="answer">
        유저에게 프로젝트 할당하기
      </label>
      <label class="radio">
        <input type="radio" name="answer">
        프로젝트에 유저 할당하기
      </label>
    </div>

    <table class="table is-fullwidth has-text-centered" id="users-table">
      <thead>
        <tr>
          <th>이름</th>
          <th>이메일</th>
          <th>등급 (레벨)</th>
          <th>선택</th>
        </tr>
      </thead>
      <tbody class="is-vcentered">
        {{#each users as | user |}}
        <tr>
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ levelToString user.level }} ({{ user.level }})
          </td>
          <td>
            <label>
              선택하기
              <input type="checkbox" name="" id="">
            </label>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('#target-search').select2();
    $('#assignment-table').DataTable();
  });

  const ASSIGN_USERS_TO_PROJECT = 'ASSIGN_USERS_TO_PROJECT';
  const ASSIGN_PROJECTS_TO_USER = 'ASSIGN_PROJECTS_TO_USER';

  const app = new Vue({
    el: "#app",
    data: {
      users: [],
      projects: [],
      mode: ASSIGN_USERS_TO_PROJECT
    }
  })
</script>