<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/navbar %>
    <div class="px-3">
      <section>
        <!-- Project -->
        <div class="card px-3 py-3">
          <table
            class="table is-fullwidth has-text-centered"
            id="projects-table"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>이름</th>
                <th>액션</th>
              </tr>
            </thead>
            <tbody>
              <% for( let unitProject of unitProjects ) { %>
              <tr>
                <td><%= unitProject.id %></td>
                <td><%= unitProject.name %></td>
                <td>
                  <a
                    href="/admin/unit-project/<%= unitProject.id %>"
                    class="button is-info is-small is-centered"
                  >
                    <i class="fa fa-edit mr-1"></i>수정
                  </a>
                  <button
                    data-unit-project-id="<%= unitProject.id %>"
                    type="button"
                    class="button delete-unit-project-button is-danger is-small is-centered"
                  >
                    <i class="fa fa-trash mr-1"></i>삭제
                  </button>
                </td>
              </tr>
              <% } %>
            </tbody>
            <tfoot>
              <a
                href="/admin/unit-projects/new"
                class="button is-primary is-pulled-right mr-2 mb-6"
              >
                새로운 단위프로젝트
              </a>
            </tfoot>
          </table>
        </div>
      </section>
    </div>
  </body>
  <script>
    $(".delete-unit-project-button").on("click", (event) => {
      const unitProjectId = $(event.target).attr("data-unit-project-id");
      $.ajax({ method: "delete", url: `/admin/unit-project/${unitProjectId}` })
        .done(() => {
          alert("성공적으로 삭제되었습니다");
        })
        .fail(() => {
          alert("삭제에 실패하였습니다");
        })
        .always((result) => {
          window.location.reload();
        });
    });
  </script>
</html>
